@using Nop.Web.Framework.Extensions
@model ProductSupplierViewModel

<div class="form-group row">
	<div class="col-md-3">
		<label class="control-label">Supplier</label>
	</div>
	<div class="col-md-9">
		<select id="SupplierDropdown" class="form-control mb-2">
			<option value="">-- Select Supplier --</option>
			@foreach (var supplier in Model.Suppliers)
			{
				<option value="@supplier.Value">@supplier.Text</option>
			}
		</select>
		<button id="btnSaveSupplier" type="button" class="btn btn-primary">
			Save Supplier
		</button>
	</div>
</div>





