@model CreatePurchaseOrderModel

@{
	Layout = "_AdminLayout";
	NopHtml.SetActiveMenuItemSystemName("PurchaseOrders");
}

<div class="content-header clearfix">
	<h1 class="float-left">
		Create Purchase Order
	</h1>
	<div class="float-right">
		<button type="submit" form="create-form" class="btn btn-primary">
			<i class="fas fa-save"></i> Save Purchase Order
		</button>
	</div>
</div>

<section class="content">
	<div class="container-fluid">
		<form asp-action="Create" method="post" id="create-form">
			<input type="hidden" asp-for="PurchaseOrderNo" />
			<div class="card card-default">
				<div class="card-body">
					<div class="form-horizontal">

						<!-- Supplier Dropdown -->
						<div class="form-group row">
							<div class="col-md-2">
								<nop-label asp-for="SupplierId" Text="Select a Supplier" />
							</div>
							<div class="col-md-10">
								<nop-select asp-for="SupplierId" asp-items="@Model.AvailableSuppliers" htmlAttributes="new { id = \" SupplierId\" }" />
							</div>
						</div>
					</div>
				</div>
			</div>
			
			@await Html.PartialAsync("_CreateOrUpdateSupplierProducts", Model)


		</form>
	</div>
</section>
<script>
	//this will open the popUp
	function openAddProductPopup() {
		var supplierId = $('#SupplierId').val();
		if (!supplierId) {
			alert('Please select a supplier first.');
			return;
		}

		var url = '/Admin/PurchaseOrder/AddProductPopup?supplierId=' + supplierId;
		window.open(url, 'Add Product', 'width=1000,height=600,resizable=yes,scrollbars=yes');
	}
	// This will refresh the parent page aka this page when added new product.
	function refreshSelectedProductsGrid() {
		$('#selectedProducts-grid').DataTable().ajax.reload();
	}

	$(function() {
	  // If the grid already has rows (for edit scenarios), disable supplier
		if ($('#products-grid-body tr').length > 0) {
			$('#SupplierId').prop('disabled', true);
		}
	});
	

</script>
