@model CreatePurchaseOrderModel

@{
	Layout = "_AdminLayout";
	NopHtml.SetActiveMenuItemSystemName("PurchaseOrders");
}

<div class="content-header clearfix">
	<h1 class="float-left">
		Create Purchase Order
	</h1>
	<div class="float-right">
		<button type="submit" form="create-form" class="btn btn-primary">
			<i class="fas fa-save"></i> Save Purchase Order
		</button>
	</div>
</div>

<section class="content">
	<div class="container-fluid">
		<form asp-action="Create" method="post" id="create-form">
			<div class="card card-default">
				<div class="card-body">
					<div class="form-horizontal">

						<!-- Supplier Dropdown -->
						<div class="form-group row">
							<div class="col-md-2">
								<nop-label asp-for="SupplierId" Text="Select a Supplier" />
							</div>
							<div class="col-md-10">
								<nop-select asp-for="SupplierId" asp-items="@Model.AvailableSuppliers" htmlAttributes="new { id = \" SupplierId\" }" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Product Grid Section -->
			<div class="card card-default">
				<div class="card-body">
					<div class="clearfix">
						<h5 class="float-left">Selected Products</h5>
					</div>

					@await Html.PartialAsync("Table", new DataTablesModel
					{
						Name = "selectedProducts-grid",
						UrlRead = new DataUrl("LoadSelectedProducts", "PurchaseOrder", null),
						Length = 10,
						Processing = false,
						ServerSide = false, // we're reading from TempData, not paging from DB
						ColumnCollection = new List<ColumnProperty>
						{
						new ColumnProperty(nameof(PurchaseOrderItemModel.ProductName))
						{
						Title = "Product"
						},
						new ColumnProperty(nameof(PurchaseOrderItemModel.UnitPrice))
						{
						Title = "Unit Price"
						},
						new ColumnProperty(nameof(PurchaseOrderItemModel.Quantity))
						{
						Title = "Quantity"
						},
						new ColumnProperty(nameof(PurchaseOrderItemModel.TotalCost))
						{
						Title = "Total Cost"
						},
						new ColumnProperty(nameof(PurchaseOrderItemModel.ProductId))
						{
							Title = "Actions",
							ClassName = NopColumnClassDefaults.Button,
							Render = new RenderButtonRemove(new DataUrl("DeleteProduct").Url)
						}
					}
})
				</div>
			</div>

			<button type="button" class="btn btn-primary float-left" onclick="openAddProductPopup()">
				 Add Product
			</button>
		</form>
	</div>
</section>
<script>
	//this will open the popUp
	function openAddProductPopup() {
		var supplierId = $('#SupplierId').val();
		if (!supplierId) {
			alert('Please select a supplier first.');
			return;
		}

		var url = '/Admin/PurchaseOrder/AddProductPopup?supplierId=' + supplierId;
		window.open(url, 'Add Product', 'width=1000,height=600,resizable=yes,scrollbars=yes');
	}
	// This will refresh the parent page aka this page when added new product.
	function refreshSelectedProductsGrid() {
		$('#selectedProducts-grid').DataTable().ajax.reload();
	}

	$(function() {
	  // If the grid already has rows (for edit scenarios), disable supplier
		if ($('#products-grid-body tr').length > 0) {
			$('#SupplierId').prop('disabled', true);
		}
	});
	

</script>
