@model PurchaseOrderItemsSearchModel
@{
	ViewBag.Title = "Purchase Order Item List";
	Layout = "_AdminLayout";
	NopHtml.SetActiveMenuItemSystemName("PurchaseOrders");
}
@{
	const string hideSearchBlockAttributeName = "PurchaseOrderPage.HideSearchBlock";
	var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
	<h1 class="float-left">
		Purchase Order Items
	</h1>
</div>
<section class="content">
	<div class="container-fluid">
		<div class="form-horizontal">
			<div class="cards-group">
				<div class="card card-default">
					<div class="card-body">
						<input type="hidden" id="PurchaseOrderNo" name="PurchaseOrderNo" value="@Model.PurchaseOrderNo" />
						<p>@Model.PurchaseOrderNo</p>
						@await Html.PartialAsync("Table", new DataTablesModel
						{
						Name = "purchaseOrderItems-grid",
						UrlRead = new DataUrl("Edit", "PurchaseOrder", null),
						Length = Model.PageSize,
						LengthMenu = Model.AvailablePageSizes,
						ColumnCollection = new List<ColumnProperty>
						{
							new ColumnProperty(nameof(PurchaseOrderItemsModel.PictureUrl))
							{
							Title = T("Admin.Catalog.Products.Fields.PictureThumbnailUrl").Text,
							Width = "100",
							Render = new RenderPicture(width: 100)
							},
							new ColumnProperty(nameof(PurchaseOrderItemsModel.ProductName))
							{
							Title = "Name",
							Width = "100"
							},
							new ColumnProperty(nameof(PurchaseOrderItemsModel.UnitPriceFormatted))
							{
							Title = "Unit Price",
							Width = "85"
							},
							new ColumnProperty(nameof(PurchaseOrderItemsModel.Quantity))
							{
							Title = "Quantity",
							Width = "85",
							ClassName = NopColumnClassDefaults.CenterAll
							},
							new ColumnProperty(nameof(PurchaseOrderItemsModel.TotalCostFormatted))
							{
							Title = "Total Cost",
							Width = "85",
							ClassName = NopColumnClassDefaults.CenterAll
							}
						}
					})
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

